.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    padding: 16px;

    @media (max-width: 600px) {
      // flex: 1;
      max-height: calc(100% - 15em);
      display: block;
      padding-top: 5em;
      padding-bottom: 5em;
    }
  }
}

